.app.light {
  --bg-color: #eff3f7;
  --inverted-bg-color: #113686;
  --primary-color: #2d68d4;
  --secondary-color: #7c9ccc;
  --inverted-primary-color: #2fac39;
  --inverted-secondary-color: #99d899;
}
